body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

li {
    text-decoration: none;
    margin-right: 20px;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 8ox;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: blanchedalmond;
}